.card {
  background-color: white;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.12);
  transition: all ease-in-out 0.1s;
}

.card:hover {
  box-shadow: 0 10px 28px rgba(0, 0, 0, 0.15), 0 7px 10px rgba(0, 0, 0, 0.12);
}

.card-footer {
  padding: 6px;
  border-top: 1px solid #cccccc;
}

.card-title {
  font-size: 1.2rem;
  font-weight: 400;
}

.card-description {
  font-size: 0.9rem;
}
