.modal-bg {
  background-color: rgba(0, 0, 0, 0.4);
  /* background-image: url("./img/background.jpg"); */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  background-color: white;
  background-image: url("./img/upload-bg.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: contain;
  width: 1000px;
  height: 625px;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  box-shadow: 0 10px 28px rgba(0, 0, 0, 0.15), 0 7px 10px rgba(0, 0, 0, 0.12);
  position: relative;
  animation: fade-in 0.6s linear forwards;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  transform: rotate(45deg);
  font-weight: 200;
  font-size: 2.5rem;
  cursor: pointer;
}
.modal-close:hover {
  color: #dddddd;
}

.form-container {
  width: 770px;
  display: inherit;
  justify-content: space-between;
  align-items: inherit;
}

.form-container-left {
  width: 250px;
}

.h1-title {
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-weight: 200;
  font-size: 1.4rem;
}

.form-input {
  width: 250px;
  height: 35px;
  display: block;
  margin: 16px 0;
  border-radius: 3px;
  border: 1px solid #cccccc;
  font-weight: 200;
  padding: 8px 12px;
  font-size: 0.8rem;
  box-sizing: border-box;
  outline: none;
  box-shadow: 0px 0px 0px 2px #ffffff inset;
  transition: box-shadow ease-in-out 0.1s;
}

.form-input:focus {
  border: 1px solid #ffffff;
  box-shadow: 0px 0px 0px 2px #2a89ff inset;
}

.description {
  width: 250px;
  height: 170px;
  display: block;
  resize: none;
  margin: 16px 0;
  border-radius: 3px;
  border: 1px solid #cccccc;
  font-weight: 200;
  font-size: 0.8rem;
  padding: 8px 12px;
  box-sizing: border-box;
  outline: none;
  box-shadow: 0px 0px 0px 2px #ffffff inset;
  transition: box-shadow ease-in-out 0.1s;
}

.description:focus {
  border: 1px solid #ffffff;
  box-shadow: 0px 0px 0px 2px #2a89ff inset;
}

.button-container {
  display: flex;
  justify-content: space-between;
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline;
  cursor: pointer;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 20px;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  line-height: 0;
  height: 35px;
  width: 116px;
  opacity: 0;
  cursor: pointer;
}

.button {
  height: 35px;
  width: 118px;
  background-color: #1975f0;
  color: white;
  font-size: 0.8rem;
  border-radius: 6px;
  transition: background-color ease-in-out 0.4s;
  cursor: pointer;
  border: 2px solid #0e68df;
}

.upload-btn-wrapper:hover .button {
  background-color: #0e68df;
}

.btn-submit {
  background-color: white;
  color: #0e68df;
}

.btn-submit:hover {
  background-color: #0e68df;
  color: white;
}

.preview-img {
  max-width: 400px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  animation: fade-in 1.4s linear forwards;
}

@keyframes fade-in {
  0% {
    transform: translateY(-35px);
    opacity: 0;
  }
  40% {
    opacity: 0.5;
    transform: translateY(-12px);
  }
  80% {
    opacity: 1;
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
